@import url("https://fonts.googleapis.com/css?family=Lato");
* { box-sizing: border-box; }

body { background: #D35300; color: #fff; text-align: center; font-family: 'Lato', sans-serif; }

h1 { margin: 0 auto; margin-top: 30vh; font-size: 56px; }

p { margin-top: 5vh; font-size: 10px; }

.container { max-width: 750px; background: #fff; color: #000; margin: 0 auto; margin-top: 20px; padding: 25px; border-radius: 10px; }

ul { text-align: left; }

button { border: none; background: #3498db; color: #fff; font-weight: 700; font-size: 25px; padding: 15px; border-radius: 5px; cursor: pointer; }

button:hover { background: #0665A2; }